body{
    font-family: 'Poppins', sans-serif;
}
.bgd{ font-size: 74px;
    color: rgba(77, 60, 189, 0.849);
}
.fig{
    font-size: 44px;
    color: rgba(137, 137, 235, 0.801);
}
.dan{
    color: orange;
}
p{
    font-size: 24px;
}
