body{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 100%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.bgd{ font-size: 74px;
    color: rgba(77, 60, 189, 0.849);
    padding-left: 10%;
}
.fig{
    font-size: 55px;
    color: rgba(137, 137, 235, 0.801);
    padding-left: 10%;
}
.shs{
    font-size: 32px;
    color: dimgray;
    padding-left: 10%;
}
.dan{
    color: orange;
}
p{
    font-size: 24px;
}
section{                                                
    display: flex;
    margin: 100px;
}
.vcb{
    width: 50%;  
    padding-left: 10%;
}
.link{
text-decoration: none;
background-image: linear-gradient(tomato, orange);
padding: 10px 30px;
border-radius: 5%;
color: rgba(245, 240, 240, 0.808);
font-weight: 700;
}
.boy{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: 0%;
}
.jik{
    font-size: 60px;
    color: rgba(77, 60, 189, 0.849);
    padding-left: 50%;
}
.sik{
    font-size: 32px;
    color: dimgray;
    padding-left: 50%;
}