body{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 100%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.bgd{ font-size: 74px;
    color: rgba(77, 60, 189, 0.849);
    padding-left: 10%;
}
.fig{
    font-size: 55px;
    color: rgba(137, 137, 235, 0.801);
    padding-left: 10%;
}
.shs{
    font-size: 32px;
    color: dimgray;
    padding-left: 10%;
}
.dan{
    color: orange;
}
p{
    font-size: 24px;
}
.mitu{                                                
    display: flex;
    margin: 80px;
}
.vcb{
    width: 50%;  
    padding-left: 5%;
}
.link{
text-decoration: none;
background-image: linear-gradient(tomato, orange);
padding: 10px 30px;
border-radius: 5%;
color: rgba(245, 240, 240, 0.808);
font-weight: 700;
}
.boy{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: 0%;
}
.jik{
    font-size: 70px;
    color: rgba(77, 60, 189, 0.849);
    padding-left: 40%;
}
.sik{
    font-size: 32px;
    color: dimgray;
    padding-left: 40%;
}
.tyg{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10%;
    width: 60%;
    box-shadow: 10px 10px 10px purple;
    border-radius: 10px;
}
.ytr{
    color: orange;
}
.mul{
    font-size: 55px;
    padding-left: 20%;
    color: seagreen;
}
.ndrt{
    display: flex;
    margin: 80px;
}
.boi{
    font-size: 30px;
}
.skill{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
#gft{
    border-left: 5px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#dsa{
    border-left: 5px solid;
    border-image: linear-gradient(pink,orange) ;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}